<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zamówienia</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<div style="display: flex; flex-direction: column; justify-content: space-between; height: 100vh; width: 100vw;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href=@{/}>Booksale.pl</a>
            <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="justify-content-between flex-box collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" th:href="@{/books}">Książki</a>
                    <a class="nav-item nav-link active" th:href="@{/orders}">Zamówienia</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" sec:authorize="!isAuthenticated()" th:href="@{/login}">Zaloguj
                        się</a>
                    <a class="nav-item nav-link active" sec:authorize="isAuthenticated()" th:href="@{/logout}">Wyloguj
                        się</a>
                </div>
            </div>
        </nav>
    </header>
    <main style="display: flex; flex-direction: column; height: 100%; overflow: hidden; overflow-y: auto;">
        <div class="m-1 p-2" style="width: 100%; height: 100%;">
            <div class="card-body text-center" style="display: flex; flex-direction: column; height: 100%;">
                <div class="pb-2" style="display: flex; justify-content: space-between;">
                    <h3>Zamówienia</h3>
                    <div class="alert alert-success text-center" style="margin: 0;" th:if="${message}">
                        [[${message}]]
                    </div>
                    <div class="alert alert-danger text-center" style="margin: 0;" th:if="${message_fail}">
                        [[${message_fail}]]
                    </div>
                </div>

                <div>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Skompletowane</th>
                            <th>Cena</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Użytkownik</th>
                            <th>Status</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">Opcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="order : ${orders}">
                            <tr>
                                <td>[[${order.id}]]</td>
                                <td>
                                    <div th:switch="${order.completed}">
                                        <div th:case="true">
                                            TAK
                                        </div>
                                        <div th:case="false">
                                            NIE
                                        </div>
                                    </div>
                                    </td>
                                <td>[[${order.price}]] PLN</td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')">[[${order.user.username}]]</td>
                                <td><div th:switch="${order.status}">
                                    <div style="pointer-events: none;" class="btn btn-success" th:case="'opłacone'">
                                        [[${order.status}]]
                                    </div>
                                    <div style="pointer-events: none;" class="btn btn-secondary" th:case="'złożone'">
                                        [[${order.status}]]
                                    </div>
                                    <div style="pointer-events: none;" class="btn btn-danger" th:case="'nieopłacone'">
                                        [[${order.status}]]
                                    </div>
                                    <div style="pointer-events: none;" class="btn btn-dark" th:case="*">>
                                        [[${order.status}]]
                                    </div>
                                </div></td>
                                <td sec:authorize="hasRole('ROLE_ADMIN')">
                                    <div th:switch="${order.completed}" style="display: inline-flex; gap: 20px;">
                                        <form th:case="false" method="post"
                                              th:action="${'/orders/complete'}">
                                            <input id="orderId" name="orderId" th:value="${order.id}" type="hidden"/>
                                            <button class="btn btn-primary" type="submit">Skompletuj</button>
                                        </form>
                                        <form th:case="true">
                                            <button style="pointer-events: none;" class="btn btn-secondary" type="submit">Skompletuj</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Przemysław Sałek -
            <a class="text-dark" href="https://github.com/PrzemyslawSalek/ske-project">Ske-Project</a>
        </div>
    </footer>
</div>
</body>
</html>